.app {
  position: relative;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #333;
  z-index: 100; /* Ensure menu is above other elements */
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.menu.open {
  transform: translateX(0);
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu ul li {
  padding: 20px;
  color: white;
  cursor: pointer;
}

.menu ul li:hover {
  background-color: #555;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  padding: 10px 20px;
  z-index: 99; /* Ensure header is above plot */
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 2vh;
  z-index: 101; /* Ensure hamburger menu is above plot */
}

.hamburger-menu .line {
  width: 100%;
  height: 2px;
  background-color: rgb(46, 45, 45);
}


main {
  padding: 20px;
}

input[type='text'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #333;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}
