@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
}
.appointment {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.buttons {
    text-align: center;
}
.btn {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 5px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}
.lil{
    background-color: #4d4e4f;
}

.btn:hover {
    background-color: #0056b3;
    color: white;
}
.lil:hover{
    background-color: black;
    color: white;
}
.pagination {
    margin-top: 20px;
    text-align: center;
}
.pagination .btn {
    margin: 0 3px;
}
.invert{
    background-color: aquamarine;
    color: #0a2e55;
}
.invert:hover{
    color: white;
}
.searchBar {
    padding: 8px 12px;
    border: none;
    border-radius:10vh;
    background-color: #f0f0f0;
    width: calc(100% - 24px);
    box-shadow: 0 0 10px gray;
    margin-bottom: 20px;
    font-size: 2.5vh;
}
.searchBar:focus {
    outline: none;
    box-shadow: 0 0 10px royalblue;
}
